<footer class="footer">

    </footer>
    <div class="Slides-img">
        <div class="black"></div>
        <ul class="list-photo-ul nav">
            <% news.forEach(item=>{%>
                <li > 
                    <a href="/news/<%=item.token%>.<%= item._id%>"><div class="picture" style="background-image:url('/uploads/<%= item.image%>') "></div></a>
                </li>
            <%})%>
        </ul>
        <div class="buttons">
            <div class="prev"><i class="fas fa-chevron-left"></i></div>
            <div class="next"><i class="fas fa-chevron-right"></i></div>
        </div>
        <div class="remove"><i class="fas fa-times"></i></div>
    </div>
    <script>
        var myVar = setInterval(()=>{ myTimer() }, 1000);
        var myTimer=()=>{var d = new Date();var month=d.getMonth()+1,year=d.getFullYear(),date=d.getDate(),t = d.toLocaleTimeString();document.querySelector(".time-info").innerHTML =t+" - "+date+"/"+month+"/"+year;}
        </script>
    <script type="text/javascript" src="/vendor/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/1.js"></script>
    
</body>
</html>