<footer class="footer">

</footer>
    
<div class="modal fade" id="form-dangnhap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Đăng Nhập</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="username" id="username-access" class="form-control" placeholder="email@gmail.com" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="">Mật khẩu</label>
                <input type="password" name="password"  id="password-access" maxlength="12" class="form-control" placeholder="Nhập mật khẩu" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <div class="btn btn-block" onclick="submitLogin(this)"  style="background: #c1295a;color: white;">Đăng Nhập</div>
                <a href="/auth/facebook" class="btn btn-block" onclick="submitFacebook(this)" style="background: #4267b2;color: white;">Đăng nhập bằng Facebook</a>
                <a href="/auth/google" class="btn btn-block" onclick="submitGoogle(this)" style="background:#d14836;color:white;">Đăng nhập bằng Google</a>
            </div>
            <div class="form-group">
                <a href="/register" class="text-center" style="">Đăng ký</a>
                <a href="/forget" class="text-center float-right" style="">Quên mật khẩu</a>
            </div>
        </form>
    </div>

</div>
</div>
</div>
    <script type="text/javascript" src="/vendor/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script>
        var url="/session/users",
            NotUser=`<li class="nav-item active">
                        <a class="nav-link" href="#form-dangnhap" data-toggle="modal">Đăng Nhập</a>
                    </li>`;
            navbar=document.querySelector(".header #navbarSupportedContent ul li:first-child");
        var ExistsUser=res=>{
            return `<li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#"  id="dropdownId" data-toggle="dropdown" >${res.fullname}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="/edit/password/${res._id}">Đổi mật khẩu</a>
                            <a class="dropdown-item" href="/logout">Đăng xuất</a>
                        </div>
                    </li>
                    `;
        }
        var xHTMLHandleLIVE=(res)=>{
                return `<div class="handle-other">
                    <h4>Độ chễ gửi tin nhắn</h4>
                    <ul class="">
                        <li class="badge badge-info "><a href="" class="seconds"><span>0</span> Giây</a></li>
                        <li class="badge badge-info active"><a href="" class="seconds"><span >3</span> Giây</a></li>
                        <li class="badge badge-info "><a href="" class="seconds"><span>5</span> Giây</a></li>
                        <li class="badge badge-info "><a href="" class="seconds"><span>10</span> Giây</a></li>
                        <li class="badge badge-info "><a href="" class="seconds"><span>20</span> Giây</a></li>
                    </ul>
                </div>`;
            }
        var loadMethodGet=(url,cb)=>{
            xhr=window.XMLHttpRequest? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    cb(this.responseText);
                }
            };
            xhr.open("GET",url,true);
            xhr.send();
        }
        var loadDoc=(url,data,cb)=>{
            xhr=window.XMLHttpRequest? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    cb(this.responseText);
                }
            };
            xhr.open("POST",url,true);
            xhr.setRequestHeader("cache-control", "no-cache");
            xhr.setRequestHeader("content-type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify(data));
        }
        loadMethodGet(url,res=>{
            res=JSON.parse(res);
            if(res.status){
                navbar.insertAdjacentHTML("beforebegin",ExistsUser(res));
                var handleOther=document.querySelector(".frames-content-chat");
                if(Object.is(res.role.toLowerCase(),"admin")||Object.is(res.role.toLowerCase(),"quản trị")||Object.is(res.role.toLowerCase(),"nhân viên")&&handleOther){
                    handleOther.insertAdjacentHTML("afterend",xHTMLHandleLIVE(res));
                }
            }else{
                navbar.insertAdjacentHTML("beforebegin",NotUser);
            }
        })
        var HTML_CHECK_LOGIN=(res)=>{
            return `<div class="form-group text-center">
                        <div class="check" style="color:#ce2a2a;">${res}</div>
                    </div>`;
        }
        const submitLogin=(elm)=>{
            var urlMain=location.pathname;
            var a=document.getElementById("username-access").value,
                b=document.getElementById("password-access").value,
                url="/login",
                d={username:a,password:b},
                HTMLcheckError=document.querySelectorAll(".form-group .check");
                console.log(HTMLcheckError);
            for(let i=0;i<HTMLcheckError.length;i++){
                HTMLcheckError[i].parentElement.remove();
            }

            loadDoc(url,d,res=>{
                res=JSON.parse(res);

                if(res.success==true){
                    location.reload(urlMain);
                }else{
                    elm.parentElement.insertAdjacentHTML("beforebegin",HTML_CHECK_LOGIN(res.message));
                }
            })
            // Live detail
            
        }
    </script>
    
</body>
</html>