<% include header %>
<main class="main-contact frames-live">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-live">
                    <div class="row">
                        <div class="col form-left <%if(!live.status){%>show<%}%>">
                            <div class="frames-stream">
                                <div class="frames-stream-header">
                                    <p><%= live.title%></p>
                                </div>
                                <div class="frames-main-stream">
                                    <%- live.link%>
                                </div>
                                <div class="frames-stream-footer">
                                </div>
                            </div>
                        </div>
                        <% if(live.status){ %>
                            <div class="col-sm-3 form-right">
                                <div class="frames-show-chat">
                                    <ul class="list-chat">
                                        <li>
                                            <div class="user">
                                                <i class="fas fa-user"></i> Văn Cương
                                            </div>
                                            <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="frames-content-chat">
                                    <div class="form-group">
                                    <input type="text" name="" class="form-control" content="contentChat" id="contentChat" placeholder="Gửi tin nhắn" >
                                    <div <% if(!user){%> href="#form-dangnhap" data-toggle="modal"<%}else{%> aria-name="<%= user.fullname%>" aria-id="<%= user._id%>" <%}%> class="btn btn-primary" id="onSendChat">Gửi</div>
                                    </a>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        <!-- col:12 -->
        </div>
        <!-- row -->
    </div>
</main>
<script>
    var scroll=document.querySelector(".frames-show-chat .list-chat");
    scroll.scrollTop=scroll.scrollHeight-scroll.clientHeight;
</script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/javascripts/socket.js"></script>


<% include footer%>