<% include header %>
<div class="frames-login">
    <div class="container">
        <div class="row">
            <div class="title">Đăng Nhập</div>
            <div class="col-5 login">
                <form action="/login" method="post">
                    <label for="">Email của bạn</label>
                        <div class="form-group">
                        <input type="email" name="username" class="form-control txtEmail" placeholder="Email của bạn" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <input type="password" name="password" class="form-control txtPassword" placeholder="Mật khẩu" aria-describedby="helpId">
                        <small id="helpId" class="text-muted"></small>
                    </div>
                    <% if (error != '') {%>
                        <div class="alert alert-danger" role="alert" style="padding: 2px 23px;text-align: center;">
                            <%= error %>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-success btn-block">Đăng Nhập</button>
                    <a href="/auth/facebook" class="login-fb btn-block"><i class="fab fa-facebook-f"></i> Đăng Nhập FACEBOOK</a>
                    <a href="/auth/google" class="login-google btn-block"><i class="fab fa-google-plus-g"></i> Đăng Nhập GOOGLE</a>
                    <div class="forget-account">Quên tài khoản?</div>
                </form>
            </div>
            
        </div>
    </div>
</div>
