*{}

.handle-other ul li.badge-info a.seconds {
    color: white;
}

.handle-other ul li.badge-info.active {
    background-color: #ffc107 !important;
    color: #1d1919cf;
}

.handle-other ul li.badge-info:hover {
    background-color: #5daebf;
}

.handle-other ul li.badge-info {
    cursor: pointer;
}

.frames-live .form-live .form-right .frames-content-chat {
    background: #242424;
    height: 10%;
}

.frames-live .form-live .form-right .frames-content-chat .form-group {
    position: relative;
    width: 100%;
    margin: 0;
}

.frames-live .form-live .form-right .frames-content-chat .form-group input {border: 0;border-radius: 0;background: #242424;height: 50px;color: white;padding: 5px 55px 5px 14px;}

.frames-live .form-live .form-right .frames-content-chat .form-group .btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    border: 0;
    border-radius: 0;
    background: #c13636;
    line-height: 35px;
}
.frames-live{}
.frames-live .form-live{
    width: 100%;
    height: 100%;
    background: black;
}
.frames-live .form-live .form-left{
    padding-right: 0;
}

.frames-live .form-live .form-left.show {
    padding-right: 15px !important;
}
.frames-live .form-live .form-left .frames-stream{
    height: 500px;
}
.frames-live .form-live .form-left .frames-stream .frames-main-stream{height: 80%;}
.frames-live .form-live .form-left .frames-stream .frames-stream-footer{
    height: 10%;
    background: #242424;
    line-height: 50px;
    color: #c13636;
}
.frames-live .form-live .form-left .frames-stream .frames-stream-header{
    height: 10%;
    line-height: 50px;
    background: #303030bd;
}
.frames-live .form-live .form-left .frames-stream .frames-stream-header p{
    font-size: 14px;
    padding-left: 20px;
}
.frames-live .form-live .form-right{
    background: white;
    padding: 0;
    height: 500px;
}
.frames-live .form-live .form-right .frames-show-chat{
    height: 90%;
}
.frames-live .form-live .form-right .frames-show-chat ul.list-chat{
    height: 100%;
    margin: 0 !important;
    overflow-y: auto;
}
.frames-live .form-live .form-right .frames-show-chat ul.list-chat li{
    min-height: 10%;
    padding-top: 3%;
    clear: both;
    list-style: none;
}
.frames-live .form-live .form-right .frames-show-chat ul.list-chat li .user{
    float: left;
    width: 40%;
    color: #303030;
    min-height: 50px;
    padding-left: 10px;
    font-weight: 600;
}

.frames-live .form-live .form-right .frames-show-chat ul.list-chat li.active .user {
    color: red;
}
.frames-live .form-live .form-right .frames-show-chat ul.list-chat li .content{
    width: 59%;
    color: black;
    float: right;
    background: white;
    box-shadow: 1px 1px 1px 1px #00000040;
    padding: 7px;
    margin-right: 1%;
    margin-bottom: 3%;
    overflow: hidden;
}
.frames-live .form-live .form-right .frames-show-chat .frames-content-chat{}